@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

section.containerMusica {
  margin-bottom: 60px;
  max-width: 1400px;
  margin: auto;
}
section.containerMusica h1 {
  font-size: 1.5em;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin: 70px 0px 14px;
}
section.containerMusica article {
  width: 100%;
  margin: auto;
}
section.containerMusica article.containerMusicaCaixa {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
}
section.containerMusica article.containerMusicaCaixa div.MusicasCaixa {
  width: 200px;
  height: 270px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
section.containerMusica article.containerMusicaCaixa div.MusicasCaixa:hover div.BtnDarPlay {
  transition: 200ms opacity ease-in-out;
  opacity: 1;
}
section.containerMusica article.containerMusicaCaixa div.MusicasCaixa div.BtnDarPlay {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 55%;
  right: 5px;
  opacity: 0;
}
section.containerMusica article.containerMusicaCaixa div.MusicasCaixa div.ContainerImgMusicaCaixa {
  width: 150px;
  height: 150px;
  margin: 25px auto;
  border-radius: 5px;
  overflow: hidden;
}
section.containerMusica article.containerMusicaCaixa div.MusicasCaixa div.ContainerImgMusicaCaixa img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section.containerMusica article.containerMusicaCaixa div.MusicasCaixa div.TextoMusicaCaixa {
  width: 100%;
  height: 100%;
  padding: 10px;
}
section.containerMusica article.containerMusicaCaixa div.MusicasCaixa div.TextoMusicaCaixa p {
  width: 90%;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.containerMusica article.containerMusicaCaixa div.MusicasCaixa div.TextoMusicaCaixa span {
  color: #5d5d63;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}
section.containerMusica article.containerMusicaLinha {
  width: 95%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section.containerMusica article.containerMusicaLinha div.MusicasLinha {
  width: 100%;
  height: 60px;
  position: relative;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
section.containerMusica article.containerMusicaLinha div.MusicasLinha div {
  display: flex;
  align-items: center;
  gap: 20px;
}
section.containerMusica article.containerMusicaLinha div.MusicasLinha div img.ImgMusicaMeuPerfil {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section.containerMusica article.containerMusicaLinha div.MusicasLinha div div.TextoMusicaCaixa {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
section.containerMusica article.containerMusicaLinha div.MusicasLinha div div.TextoMusicaCaixa p {
  width: 90%;
  color: #fff;
  font-size: 15px;
}
section.containerMusica article.containerMusicaLinha div.MusicasLinha div div.TextoMusicaCaixa span {
  color: #5d5d63;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}
section.containerMusica article.containerMusicaLinha div.MusicasLinha p.GeneroMeuPerfil {
  text-align: center;
  color: rgba(255, 255, 255, 0.2862745098);
  font-weight: 100;
}
section.containerMusica article.containerMusicaLinha div.MusicasLinha img.btnCurtirMeuPerfil {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  right: 0px;
}

/* ini: Preloader */
#carregando {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  justify-content: center;
  background-color: #101014;
  align-items: center;
  z-index: 10;
}

#carregando > article {
  width: 80%;
  color: #fff;
}

.preloader .inner {
  position: absolute;
  top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
  transform: translate(-50%, -50%);
}

.bolas > div {
  display: inline-block;
  background-color: #fff;
  box-shadow: 2px 2px 3px black;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bolas > div:nth-child(1) {
  animation-duration: 0.75s;
  animation-delay: 0;
}

.bolas > div:nth-child(2) {
  animation-duration: 0.75s;
  animation-delay: 0.12s;
}

.bolas > div:nth-child(3) {
  animation-duration: 0.75s;
  animation-delay: 0.24s;
}

@keyframes animarBola {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  16% {
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
}
/* end: Preloader */
div#CarregamentoTela1 {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #101014;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
div#CarregamentoTela1 div#containerMensagemAleatoria {
  position: absolute;
  bottom: 30px;
  text-align: center;
}
div#CarregamentoTela1 div#containerMensagemAleatoria .preloader .inner {
  position: relative;
}
div#CarregamentoTela1 div#containerMensagemAleatoria #ImgAstronauta {
  width: 300px;
}
div#CarregamentoTela1 div#containerMensagemAleatoria p#MensagemAleatoria {
  width: 95%;
  max-width: 400px;
  margin: 10px auto 0px;
  text-align: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5490196078);
}/*# sourceMappingURL=Geral.css.map */